{{>head}}
<link href="/static/estilos.css" rel="stylesheet">
</head>
{{>body}}
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Equipos de Red en Carteles</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <p class="text-muted font-13 m-b-30">
                                        Equipos utilizados en los carteles 2019-12 2020-02
                                    </p>
                                    <div class="container tabs-dinamics">
                                        <div class="row row-cols-1 row-cols-md-2 g-4">
                                            <div class="col card_style">
                                                <div class="card" style="width:500px; height:320px;">
                                                    <img src="https://i.imgur.com/unw936k.jpg"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Access Point Carteles [2019-12 2020-02]
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col card_style">
                                                <div class="card" style="width:500px; height:320px;">
                                                    <img src="https://i.imgur.com/uVtSnIg.png"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Switch Carteles [2019-12 2020-02]</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col card_style">
                                                <div class="card" style="width:500px; height:320px;">
                                                    <img src="https://i.imgur.com/xcZWGBo.png"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">UTM Cartel 2019-12</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col card_style">
                                                <div class="card" style="width:500px; height:320px;">
                                                    <img src="https://i.imgur.com/SD0eZpg.png"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Router Cartel 2020-02</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col card_style">
                                                <div class="card" style="width:500px; height:320px;">
                                                    <img src="https://i.imgur.com/e9rcVGF.jpg"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Ap Huawei Cartel 2020-10</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col card_style">
                                                <div class="card" style="width:500px; height:320px;">
                                                    <img src="https://i.imgur.com/7VJtvCm.jpg"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Router Huawei Cartel 2020-10</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col card_style">
                                                <div class="card" style="width:500px; height:320px;">
                                                    <img src="https://i.imgur.com/QH2dUdZ.jpg"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Switch Huawei Cartel 2020-10</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{>footer}}

</body>

</html>