<html>

<head>
  <title>Centros Educativos MEP-FOD</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="/static/index.min.js"></script>
  <script src="/static/index.js"></script>
  <script src="/static/data.js"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeEePH44qKzsaTJ1SHMkvOLzh9HavVK0I&map_ids=acae8451aa7f5baa&callback=initMap"></script>
  <link href="/static/estilos.css" rel="stylesheet">
</head>

<body style="height: 100%;margin: 0; padding: 0;">
  <div id="map"></div>
</body>

</body>

</html>