{{>head}}
<link href="/static/estilos.css" rel="stylesheet">
</head>
{{>body}}
<div class="right_col" role="main">
    <div class="container">
        <div class="col-md-6 col-sm-12 offset-md-3 centered">
            <div class="x_panel">
                <div class="x_content">
                    <div id="container2" style="height: 86vh;overflow: auto"></div>
                </div>
            </div>
            
        </div>
    </div>
    
</div>




{{>scripts}}
<script src="/static/apirequesttotaldashboard.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js"></script>
</body>

</html>