<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">

                        <a href="/" rel="shortcut icon" class="site_title"><img src="/static/images/fod-icon.png"
                                width="32px" height="32px" /><span>WEB Consulta</span></a>
                    </div>

                    <div class="clearfix"></div>
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li><a><i class="fa fa-home"></i>Menú Principal<span
                                            class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/buscarequiposce/">Buscar Centro Educativo</a></li>
                                        <li><a href="/buscaraceptaciones/">Aceptaciones en Centro Educativo</a></li>
                                        <li><a href="/registraraceptacion/">Registrar Aceptaciones</a></li>
                                        <li><a href="#">Buscar Informacion CE</a></li>
                                        
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-home"></i>Administrativo<span
                                            class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/totaldashboard/">Cantidad Total Equipos en Dashborad</a></li>
                                        <li><a href="/totalpordashboard/">Cantidad Equipos por Dashborad</a></li>
                                        <li><a href="/equiposcarteles/">Equipos por Cartel</a></li>
                                        <li><a href="/revisionredes/">Visitas Revisión de Redes</a></li>
                                        <li><a href="/cecambios/">CE con Cambios de Contraseña</a></li>
                                        <li><a href="/aceptacionescartel/">Aceptaciones por Cartel</a></li>
                                        <li><a href="/mapageneralcentroseducativos/">Cobertura Centros Educativos</a></li>
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-download"></i>Descargas<span
                                            class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/equiposhuawei">Revision Local Equipos Huawei</a></li>
                                        <li><a href="http://ocinfra.fod.ac.cr/owncloud/index.php/s/fNjYBWYTb6u0Tnq"
                                                target="_blank" download="Redes FOD.exe">Consultas Redes FOD
                                                (Desktop)</a></li>
                                    </ul>
                                </li>
                                <li><a href="/logout"><i class="fa fa-sign-out"></i>Salir</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">

                    </nav>
                </div>
            </div>